/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
/* DOCUMENTATION CSS */

#header {
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  padding-top:0;
  font-size: 30pt;
  font-weight: 200;
  color: white;
}

#docoSpacer{
  padding-top:3%;
}

#mainBodyText {
  padding-left: 2%;
}

#mainBodyTop {
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  margin-left: 6%;
}

#navBarTop {
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
  margin-left:2%;
}


#subTitle{
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, a, p {
	font-family: 'Roboto', sans-serif;
}
