
/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('react-datepicker/dist/react-datepicker-cssmodules.css');
/* DOCUMENTATION CSS */

#header {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  border-bottom-style:solid;
  border-bottom-color: rgba(100,100,100,0.2);
  border-bottom-width: 0.01px;
  font-family: 'Roboto', sans-serif;
  padding-top:0;
  font-size: 30pt;
  font-weight: 200;
  color: black;
  margin-bottom: 50px;
}

#frontHeader {
  font-size: 30pt;

}

#navHeader {
  padding-left: 25px;
  padding-right: 30px;
  color: #FFF9FB;
}

#navBar {
  background-color: #252627;
}

.nav > li > a:hover{
    background-color:#BB0A21;
}

.nav > li > a:focus{
    background-color:#BB0A21;
}
.nav > li > a:active{
    background-color:#BB0A21;
}

/*.navbar {
  background: #252627;
  .navbar-nav li a {
    color: #BB0A21;
    &:hover {
      color: #252627;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:focus {
      color: #252627;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &:active {
      color: #252627;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}*/

#timelineTitle {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  border-bottom-style:solid;
  border-bottom-color: rgba(100,100,100,0.2);
  border-bottom-width:0.05px;
}

#catTitle {
  font-size: 15px;
  padding: 10px;
}

#calculateChange {
  background-color: #4B88A2;
  color: #FFF9FB;
  text-align: center;
  font-size: 30px;
}

#sectionHeading {
  font-size: 30px;
  text-align: center;
  border-bottom-style:solid;
  border-bottom-color: rgba(100,100,100,0.2);
  border-bottom-width:0.05px;
  padding-bottom: 10px;
  margin:5px;
  margin-top: 0px;
}

#catInput {
  border-top: 0px;
  border-left: 0px;
  border-right:0px;
  border-bottom-style: dashed;
  border-color: grey;
  color: black;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

#rootBack {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  border-bottom-style:solid;
  border-bottom-color: rgba(100,100,100,0.2);
  border-bottom-width: 0.01px;
  padding: 10px;
}

#homeTopBar {
  border-bottom-style:solid;
  border-bottom-color: rgba(100,100,100,0.2);
  border-bottom-width: 0.01px;
  padding-top:0;
  font-weight: 200;
  color: black;
  font-family: 'Roboto', sans-serif;
}

#addSection {
  text-align: center;
  padding: 10px;
  border-style: ridge;
}

#removeSection {
  text-align: center;
  padding: 10px;
  border-style: ridge;
}

#docoSpacer{
  padding-top:3%;
}

#mainBodyText {
  padding-left: 2%
}

#mainBodyTop {

  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);

}

#navBarTop {

  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  margin-left:2%;
}

#subTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6, a, p{
  font-family: 'Roboto', sans-serif;
}

#home {

}

.layout {

}

#homeInfo {
  text-align: center;
}

#mapRoot {
  display: flex;
  align-items: center;
  text-align: center;
}

#singularTitle {
  height: 12vh;
  text-align: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .4);
  margin-bottom: 5px;
}

#actualTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: rgba(255,255,255,1);
  background-color: #252627;
}

#singularGraphSection {
  /*border-style: dashed;
  border-color: black;*/
  height: 40vh;
}

#singularTableData {
  height: 45vh;
  margin-top: 5px;
  padding: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .4);

}

#singularDataTable{
  width: 100%;

}

td,th{
  padding: 10px;
}

th{
  font-size: 20px;
}

tr:nth-child(even) {
    background-color: #DDDDDD;
}

#percentageDisp {
  /*border-color: black;
  border-style: dashed;*/
  height: 28vh;
  text-align: center;
  /*display: flex;*/
  padding-top: 8vh;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);*/

}

#specificHeading {
  font-size: 30px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, .04);
  background-color: #252627;
  color: white;
}

#percentage {
  font-size: 42px;
}

#yasiImage {
  max-width: 90%;
  max-height: 100%;
  position: relative;
  left: 90px;
}

#mainImpactTitle {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  /*padding-top: 10px;*/
  text-align: center;
  font-size: 48px;
  background-color: #BB0A21;
  color:#FFF9FB;
}

#impactOptions {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
  /*background-color: rgba(50,50,50,0.7);*/
  font-weight: 200;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  /*background-color: #D3D4D9;*/
}

#polarGraph {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#yasiRoot {
  height: 90.4vh;
  padding: 0px;
}
#yasiRoot img{
    max-height: 104.4%;
    object-fit: cover;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(80%); /* Chrome 19+ & Safari 6+ */

}

#yasiRoot img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#rightTop {
  height: 45.2vh;
  padding: 0px;
}

#rightTop img{
  max-height: 100%;
  object-fit: cover;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(80%); /* Chrome 19+ & Safari 6+ */
}
#rightTop img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#rightBottom {
  height: 45.2vh;
  padding: 0px;
}

#rightBottom  img{
  max-height: 109%;
  object-fit: cover;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(80%); /* Chrome 19+ & Safari 6+ */
}

#rightBottom img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
#eventTitle {
  /*text-align: center;*/
  /*display: flex;*/
  align-items: center;
  justify-content: left;
  height: 41vh;
  /*font-size: 80px;*/
}

#title{
  font-size: 100px;
}

#Menu {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  /*background-color: rgba(50,50,50,0.7);*/
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: black;
  padding-right: 15px;
  text-align: right;
}

#briefsRoot {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

#impactType {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  padding: 5px;
  text-align: center;
  font-size: 18px;
  background-color: #252627;
  color: white;
}

#specificsRoot {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  padding: -15px;
}

#graphLabel {
  text-align: center;
  color: grey;
}

#stateSelectorID {
  padding: 0px;
}

#prompt {
  text-align: right;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#d3Padder{
  height: 800;
}


.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  margin-left: -8px;
  position: absolute; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    content: "";
    z-index: -1;
    border-width: 8px;
    left: -8px;
    border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: #f0f0f0; }
  .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
    top: -1px;
    border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px; }
  .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    border-bottom: none;
    border-top-color: #fff; }
  .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
  .react-datepicker__month-read-view--down-arrow::before {
    bottom: -1px;
    border-top-color: #aeaeae; }

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative; }

.react-datepicker__triangle {
  position: absolute;
  left: 50px; }

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative; }

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px; }

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem; }

.react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 0.45rem solid transparent;
  z-index: 1; }
  .react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #ccc; }
    .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  .react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #ccc; }
    .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }
  .react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .react-datepicker__navigation--years-previous {
      top: 4px;
      border-top-color: #ccc; }
      .react-datepicker__navigation--years-previous:hover {
        border-top-color: #b3b2b2; }
    .react-datepicker__navigation--years-upcoming {
      top: -4px;
      border-bottom-color: #ccc; }
      .react-datepicker__navigation--years-upcoming:hover {
        border-bottom-color: #b3b2b2; }

.react-datepicker__month-container {
  display: inline;
  float: left; }

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center; }

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem; }

.react-datepicker__day {
  cursor: pointer; }
  .react-datepicker__day:hover {
    border-radius: 0.3rem;
    background-color: #f0f0f0; }
  .react-datepicker__day--today {
    font-weight: bold; }
  .react-datepicker__day--highlighted {
    border-radius: 0.3rem;
    background-color: #3dcc4a;
    color: #fff; }
    .react-datepicker__day--highlighted:hover {
      background-color: #32be3f; }
  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff; }
    .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
      background-color: #1d5d90; }
  .react-datepicker__day--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #2a87d0;
    color: #fff; }
    .react-datepicker__day--keyboard-selected:hover {
      background-color: #1d5d90; }
  .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
    background-color: rgba(33, 107, 165, 0.5); }
  .react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
    background-color: #f0f0f0;
    color: #000; }
  .react-datepicker__day--disabled {
    cursor: default;
    color: #ccc; }
    .react-datepicker__day--disabled:hover {
      background-color: transparent; }

.react-datepicker__input-container {
  position: relative;
  display: inline-block; }

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem; }
  .react-datepicker__year-read-view:hover,
  .react-datepicker__month-read-view:hover {
    cursor: pointer; }
    .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow {
      border-top-color: #b3b2b2; }
  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow {
    border-top-color: #ccc;
    float: right;
    margin-left: 20px;
    top: 8px;
    position: relative;
    border-width: 0.45rem; }

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae; }
  .react-datepicker__year-dropdown:hover,
  .react-datepicker__month-dropdown:hover {
    cursor: pointer; }
  .react-datepicker__year-dropdown--scrollable,
  .react-datepicker__month-dropdown--scrollable {
    height: 150px;
    overflow-y: scroll; }

.react-datepicker__year-option,
.react-datepicker__month-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .react-datepicker__year-option:first-of-type,
  .react-datepicker__month-option:first-of-type {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
  .react-datepicker__year-option:last-of-type,
  .react-datepicker__month-option:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; }
  .react-datepicker__year-option:hover,
  .react-datepicker__month-option:hover {
    background-color: #ccc; }
    .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
    .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming {
      border-bottom-color: #b3b2b2; }
    .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
    .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous {
      border-top-color: #b3b2b2; }
  .react-datepicker__year-option--selected,
  .react-datepicker__month-option--selected {
    position: absolute;
    left: 15px; }

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }
  .react-datepicker__close-icon::after {
    background-color: #216ba5;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%; }

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left; }

.react-datepicker__tether-element {
  z-index: 2147483647; }

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647; }
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day {
    width: 3rem;
    line-height: 3rem; }
  @media (max-width: 400px), (max-height: 550px) {
    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day {
      width: 2rem;
      line-height: 2rem; } }
  .react-datepicker__portal .react-datepicker__current-month {
    font-size: 1.44rem; }
  .react-datepicker__portal .react-datepicker__navigation {
    border: 0.81rem solid transparent; }
  .react-datepicker__portal .react-datepicker__navigation--previous {
    border-right-color: #ccc; }
    .react-datepicker__portal .react-datepicker__navigation--previous:hover {
      border-right-color: #b3b2b2; }
  .react-datepicker__portal .react-datepicker__navigation--next {
    border-left-color: #ccc; }
    .react-datepicker__portal .react-datepicker__navigation--next:hover {
      border-left-color: #b3b2b2; }

      .react-resizable {
        position: relative;
      }
      .react-resizable-handle {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 0;
        right: 0;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
        background-position: bottom right;
        padding: 0 3px 3px 0;
        background-repeat: no-repeat;
        background-origin: content-box;
        box-sizing: border-box;
        cursor: se-resize;
      }

#row div{
  background-color: Snow;
}

#ratioTitle {
   text-align: center;
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width:0.05px;
   margin-bottom: 5px;
   padding-bottom: 10px;
 }

 #bottomRatioTitle {
   text-align: center;
 }

 #ratioNumber {
   font-size: 30px;
}

#subLabel {
   text-align: center;
   color: black;
   font-size: 20px;
 }

 #chart {
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width:0.05px;
   margin-bottom: 5px;
 }

 #subChart {
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width:0.05px;
   margin-bottom: 5px;
   padding: 5px;
 }

 .selectRegion {
   width: 50%;
 }

 #regionAdder {
   display: flex;
   vertical-align:middle;
 }

 body {
   overflow-x: hidden;
 }

 #impactedIndustriesTitle {
   font-size: 30px;
   text-align: center;
   margin-bottom: 5px;
 }

  #impactedIndustries {
    background-color: #efeff5;
    border-style: solid;
    border-color: rgba(100,100,100,0.2);
    border-width:0.5px;
    top: 20px;
    position: relative;
  }

#specificHeading {
  font-size: 30px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, .04);
  background-color: #252627;
  color: white;
}

 #stockElement {
   text-align: center;
   padding: 10px;
   border-style:solid;
   border-color: rgba(100,100,100,0.2);
   border-width:0.05px;
 }

 #stockCode {
   font-size: 25px;
 }

 #stockName {
   font-size: 11px;

 }

 #stockArrow {
   height: 20px;
   width: 20px;
   margin-left: 10px;
   margin-bottom: 5px;
 }

 #predictorInfo {
   margin-top: 10px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width: 0.01px;
   padding: 10px;
   text-align: center;
   font-size: 15px;
 }

 .selectArea {
   width: 100%;
 }

 #textRow{
   margin-bottom: 10px;
 }

 #heading {
   font-size: 30px;
   font-style:oblique;
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width: 0.01px;
   margin-bottom: 10px;
 }

 #metricButton {
    background-color: #4B88A2;
    color: #FFF9FB;
 }

 #textAlignRight {
   text-align: right;
   padding-top: 8px;
 }

 #buttonAdd {
   width: 100%;
   background-color: #4B88A2;
   color: #FFF9FB;
 }

 #rootBackAdd {
   box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width: 0.01px;
   padding: 25px;
 }

 #leftSide {
   text-align: right;
   font-size: 20px;
 }

 #rightSide {
   text-align: left;
   font-size: 20px;
 }

 #metricEntry{
   border-bottom-style:solid;
   border-bottom-color: rgba(100,100,100,0.2);
   border-bottom-width:0.05px;
   padding: 10px;
 }

#aboutPageMainHeading{
  text-align: center;
  font-size: 40px;
}

#aboutPageMainBody{
  text-align: center;
  font-size: 20px;
}
